body{
    margin: 0%;
}

/*** Navbar ***/
.container-fluid {
    background-color: blue;
    height: 45px;
}

a >.bi{
    color: white;
}


/*** first-container ***/

 .first-container{
    padding: 15%;
    padding-bottom:1px ;
     gap: 7px;
    background-color: blue;
    float: left;
    color: white;
}

img{
    height: 400px;
    width: 30%;
    float: right;
}

.first-box{
    width: 50%;
    height: 80px;
    padding: 1% 9px;
    background-color: white;
    color: black;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr;
    border-radius: 20px;
    text-align: center;
     position: absolute;  
     z-index: 1;
}

.bi{
    color: blue;
}

.btn-primary{
    height: 60px;

}


/**** second-container ****/

.second-container{
    padding: 5% 10%;
    display: flex;
    justify-content: space-between;
}

.btn-outline-primary{
    height: 40px;
}

.features{
    margin-left: 9%;
    padding: 2%;
    display: grid;
    grid-template-columns: repeat(4, 300px);
    grid-template-rows: 1fr 1fr;
    row-gap: 7%;
    column-gap: 1%;
}

.icon{
    height:400px;
    width: 280px;
    border: none;
    box-shadow:  0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.icon > img {
    height: 200px;
    width: 280px;
}

.icon-head{
    padding: 3% 2%;
}

.item{
    height: 20px;
    padding: 2% 2px ;
    display: flex;
    justify-content: space-between;
    border-top: 1px solid gray;
}

/***** third-container *****/


.third-container{
    margin-top: 5%;
    margin-right: 10%;
    padding: 7%;
    float: right;
}


.third-container > img {
height: 50%;
width: 50%;
border-radius: 7%;
float: left;
margin-right: 5%;
}


.third-icon{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    line-height: 2rem;
}

/**** fourth-container ***/
.fourth-container{
    padding: 11%;
    float: left;
    margin-top: 5%;
}

.fourth-container > img{
    float: right;
   margin-left: 5%;
    height: 50%;
    width: 50%;
    border-radius: 6%;
}

.fourth-icon{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    line-height: 2rem;
}

/**** fifth-container ***/
fifth-container{
    margin: 5% 9%;
}

video {
    border-radius: 3%;
    margin-left: 16%; 
     
}

.fifth-head{
    margin: 4% 14%;
    display: flex;
    justify-content: space-between;
}

.fifth-head1 > h6 {
    color: blue;
} 


.img-icon{
    display: grid;
    grid-template-columns: repeat(2, 35px);
    grid-template-rows: 1fr 1fr;
}

.img-icon1 > img{
    height: 35px;
    width: 35px; 
    border-radius: 30%;
}

.img-icon4{
    background-color: black;
    height: 35px;
    width: 35px;
    border-radius: 30%;
}

.img-icon4 > h6{
    padding: 1%;
    color:white;
    font-weight: bold;
    text-align: center;
    padding: 6px 1%;
}


/**** sixth-container ***/

.sixth-container{
    margin: 9px 10%;
    display: grid;
    grid-template-columns: repeat(3, 270px);
    grid-template-rows: repeat(2, 270px);
    gap: 3%;

}

.card> img {
    height: 270px;
    width: 270px;
}

.fa-icon{
    padding-left:3%;
    position: absolute;
    bottom: 1%;
    display: flex;
    justify-content: space-between;
}

.fa-icon > img{
    margin-left: 27px;
    margin-top: 3%;
    height: 35px;
    width: 35px;
    border-radius: 30%;
}
 

.fa-icon >div > h5{
    color:white;
}


/***** footer ***/
.footer{
   margin-top: 3%;
    height: 210px;
    background-color: blue;
    color: white;
    display: flex;
    padding: 3%;
    justify-content: space-between;
}

.big{
    color : white;
}

a {
    display: block;
}

.icon-btn{
    margin-right: 3%;
    height: 25px;
    width: 25px;
    border: none;
    border-radius: 10px;
}


@media (min-width:900px) and (max-width:1200px){
 .first-container{
     width: 1200px;
}

/**** second-container ****/
    
.features{
    display: grid;
    grid-template-columns: repeat(4, 300px);
    grid-template-rows: 1fr 1fr;
    row-gap: 7%;
    column-gap: 1%;
}

    .footer{
        width:1200px;
    }
}
/**** Tablet responsive *****/

@media (min-width:600px) and (max-width: 900px){

   /**  first container ***/

   .first-container{
    background-color: blue;
    padding: 15% 5%;
    padding-bottom: 1px;
    width: 900px;
   }

    .first-box{
     display: grid;
     grid-template-columns: 1fr 1fr;
     grid-template-rows: 1fr 1fr;
     padding: 1%;
     height: 150px;
     width: 65%;
   }
    
    
img{
    height: 350px;
    width: 30%;
}

   /**** second container ****/

   .btn-outline-primary{
    height: 80px;
}

    .features{
        margin-left: 3%;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(4, 1fr);
        row-gap: 3%;
        column-gap: 3%;
        padding-left: 3%;
    }

/**** third-container ***/
 .third-container{
    margin-top: 20%;
    padding-left: 3%;
 }


 /**** fifth-container ****/

video {
    margin-left: 3%;
    border-radius: 3%;
    height: 220px;
    width: 400px; 
}

/*** sixth-container ***/
.sixth-container{
    height:850px;
    display: grid;
    grid-template-columns: repeat(2, 270px);
    grid-template-rows: repeat(4, 270px);
    margin: 3%;
    gap: 3%;
    margin-bottom: 1px;
    padding-bottom: 1px;
}

/*** footer ****/
.footer{
    height: 400px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    column-gap: 5%;
}

}

/*** mobile responsive ****/

@media (min-width: 400px) and (max-width:600px){
    /**** first-container ****/
    .first-container{
    height: 660px;
    padding-left: 3%;
    width: 600px;
}

.first-container > img{
    float: none;
    height:250px;
    width: 300px;
    margin-left: 5%;
}

.first-box{
    width: 70%;
    height: 18%;
}

/**** seond-container ****/
.features{
        margin-left: 3%;
        display: block;
        padding-left: 5%;
}

.icon{
    margin-bottom: 3%;
}

/**** third-container ****/

.third-container{
    margin-top: 6%;
    display: block;
    float: none;
}

 .third-container > img{
    height: 150px;
    width: 250px;
    float: none;
    margin-left: 5%;
}

/**** fourth-container ****/
.fourth-container{
    display: block;
    float: none;
    padding-top:2px ;
}

.fourth-container > img {
    height: 150px;
    width: 250px;
    float: none;
    margin-left: 5%;
}

/*** fifth-container ***/
    video{
        margin-left: 5%;
        border-radius: 3%;
        height: 220px;
        width: 400px;
    }
    
.btn-outline-primary{
    height: 90px;
    width: 90px;
    
/*** sixth-container ***/
.sixth-container {
    height:70%;
    display: block;
    margin: 3%;
    padding-left: 7%;
}

.sixth-container > div {
    height: 270px;
    width: 270px;
    margin-bottom: 3%;
}

    /*** footer ***/
 .footer{
   height: 610px;
    display: block;
     padding-left: 3%;
     width:600px;
}

    .footer > div {
        margin-bottom: 5%;
   
}
